.dashboard {
	width: 100%;
	height: auto;
	padding: 57px 77px 30px 77px;
}
.welcom-wrapper {
    width: max-content;
}
.welcom-name {
	width: max-content;
	font-size: 36px;
	font-weight: 500;
	margin-bottom: 30px;
}
