@use "form.scss";
@use "input.scss";
@use "loginin.scss";
@use "main.scss";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Monsterrat", sans-serif;
}
#root {
	min-height: 100%;
}
html,
body {
	min-height: 100%;
}
.button {
	cursor: pointer;
	user-select: none;
}
a {
	text-decoration: none;
}
.loadin--state {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background-color: rgb(255, 202, 10);
	z-index: 9999;
}
.app-wrapper {
	display: grid;
	grid-template-rows: auto 1fr;
	min-height: 100vh;
}
.nav--wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	gap: 10px;
}
.logout {
	display: flex;
	width: max-content;
	padding: 10px;
	padding-left: 21px;
	gap: 15px;
	align-items: center;
	cursor: pointer;
	span {
		font-size: 16px;
		font-weight: 500;
		line-height: normal;
		color: #fff;
	}
}

.errors:has(span) {
	margin-top: 5px;
	width: 100%;
	padding: 2px;
	background-color: rgba(255, 99, 71);
	color: #fff;
}