.progress {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	/* border: 10px solid transparent;
	background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
		conic-gradient(red 30deg, #d9d9d9 30deg 360deg, ),
		linear-gradient(#d9d9d9, #d9d9d9);
	background-origin: border-box;
	background-clip: content-box, border-box, border-box; */
}
// linear-gradient(270deg, rgb(215, 27, 27) 10%,#d9d9d9 90%, )