.user__image-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 13px;
}
.user-image {
	display: block;
	width: 86px;
	height: 86px;
	object-fit: contain;
	margin: 0 auto;
}
.user__info {
    &-descr {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }
	&-name {
        text-transform: capitalize;
	}
	&-email {
        margin-top: 2px;
		font-size: 12px;
        font-weight: normal;
	}
}
