.modal--wrapper {
	width: 100%;
	height: 100vh;
	padding: 100px;
	position: fixed;
	inset: 0;
	transform: translateY(-100vh);
	z-index: 999;
	&_active {
		transform: translateY(0);
	}
}
.modal__background-layer {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.5);
}
.modal {
	width: 80%;
	height: 80%;
	background-color: #ffffff;
	position: absolute;
	left: 50%;
	top: 50%;
	transition-property: transform;
	transition-duration: 0.4s;
	transition-delay: 0.2s;
	transform: translate(-50%, -150vh);
	z-index: 10001;
	display: flex;
	align-items: center;
	&_active {
		transform: translate(-50%, -50%);
	}
}
